# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [58]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import gkey


# Google developer API key
#from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [60]:
weather_op2 = "output/weather_data_2.csv"
weather_data_op2 = pd.read_csv(weather_op2)

del weather_data_op2['Unnamed: 0']
weather_data_op2.head()

,Country,City name,Date,Lat,Lng,Clouds,Mean_T,Feels_like_T,Max_T,Min_T,Wind speed,Humidity,Pressure
0,ID,Banda Aceh,1586462632,5.56,95.32,85,299.81,303.29,299.81,299.81,1.79,76,1009
1,RU,Khatanga,1586462473,71.97,102.50,50,267.98,259.06,267.98,267.98,8.80,90,992
2,CL,Punta Arenas,1586462771,-53.15,-70.92,40,290.15,289.21,290.15,290.15,1.00,59,995
3,ZA,Hermanus,1586462771,-34.42,19.23,75,287.94,287.71,290.37,285.93,1.97,93,1011
4,MX,Ramos Arizpe,1586462521,25.55,-100.97,75,302.81,300.71,307.04,300.93,5.50,42,1020

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [61]:
# Store latitude and longitude in locations
locations = weather_data_op2[["Lat", "Lng"]].astype(float)

# Set humiduty to weights
humidities = weather_data_op2["Humidity"].astype(float)

In [68]:
# Plot Heatmap
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidities, 
                                 dissipating=False, max_intensity=200,
                                 point_radius=4)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [86]:
# Narrow down the DataFrame to find your ideal weather condition. For example:

# A max temperature lower than 80 degrees but higher than 70.

# Wind speed less than 10 mph. (divide the speed value by 2.237)
# Zero cloudiness.
# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

# Note: Feel free to adjust to your specifications but be sure to limit the number of rows returned 
#by your API requests to a reasonable number.

mybest_weather = weather_data_op2.loc[(weather_data_op2['Max_T'].astype(float) >= 300)&
                                      (weather_data_op2['Max_T'].astype(float) <= 315)&
                                      (weather_data_op2['Wind speed'].astype(float) <= 4)&
                                      (weather_data_op2['Clouds'].astype(float) <= 20)&
                                      (weather_data_op2['Humidity'].astype(float) <= 70)]


mybest_weather

,Country,City name,Date,Lat,Lng,Clouds,Mean_T,Feels_like_T,Max_T,Min_T,Wind speed,Humidity,Pressure
12,US,Hilo,1586462773,19.73,-155.09,20,296.50,295.74,300.15,287.59,3.60,61,1016
111,BR,Itamarac√°,1586462798,-7.75,-34.83,20,303.15,306.75,303.15,303.15,3.10,70,1009
218,IN,Port Blair,1586462824,11.67,92.75,16,300.61,303.55,300.61,300.61,1.45,66,1010
280,MG,Mahajanga,1586462839,-15.72,46.32,20,301.15,303.56,301.15,301.15,3.10,69,1014
325,MX,√Ålamos,1586462849,27.02,-108.93,0,300.93,300.39,300.93,300.93,3.13,46,1014
327,SV,Acajutla,1586462849,13.59,-89.83,3,304.82,308.77,304.82,304.82,2.68,64,1015
397,BR,Arapongas,1586462867,-23.42,-51.42,20,300.49,300.04,301.15,299.82,2.10,42,1015
483,BR,Porto Nacional,1586462888,-10.71,-48.42,20,304.15,309.44,304.15,304.15,1.50,70,1009
532,PK,Johi,1586462899,26.69,67.61,0,303.11,299.08,303.11,303.11,3.63,18,1009
552,MX,Coahuayana Viejo,1586462903,18.73,-103.68,5,307.15,304.30,307.15,307.15,2.60,17,1014

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# params dictionary to update each iteration
params = {
    "radius": 50000,
    "types": "airport",
    "keyword": "international airport",
    "key": gkey
}

# Use the lat/lng we recovered to identify airports
for index, row in cities_pd.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "International Airport" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
#     print the name_address url, avoid doing for public github repos in order to avoid exposing key
#     print(name_address.url)

    # convert to json
    name_address = name_address.json()
    # print(json.dumps(name_address, indent=4, sort_keys=True))

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        cities_pd.loc[index, "Airport Name"] = name_address["results"][0]["name"]
        cities_pd.loc[index, "Airport Address"] = name_address["results"][0]["vicinity"]
        cities_pd.loc[index, "Airport Rating"] = name_address["results"][0]["rating"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map